.header {
    display: flex;
    justify-content: space-around;
}

.headerlinks {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.titlebar{
    display: flex;
    justify-content: center;
}

.titleleft{
    display: flex;
}